.card-img {
  overflow: hidden;
}

.card-img-top {
  transition: transform 2s ease;
}

.card-img-top:hover {
  transform: scale(3);
  z-index: 1;
  position: relative;
}

.banner {
  background-color: #2b3651 ;
  background-repeat: 'no-repeat';
  background-size: cover;
  background-position: center;
  min-height: 10vh;
  }


.social:hover {
  transform: scale(3);
}
.social {
  transition: 1.5s;
}

.wsp {
  transition: 1s;
}
.wsp:hover {
  transform: scale(1.5);
}
.payment {
  max-height: 30px;
}
.flowBanner {
  height: 60px;
  max-width: 500px;
}