.card-img {
  overflow: hidden;
}

.card-img-top {
  transition: transform 2s ease;
}

.card-img-top:hover {
  transform: scale(3);
  z-index: 1;
  position: relative;
}

.banner {
  height: 200px;
  width: 100%;
  background-color: #4c6272;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner h1,
.banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  z-index: 1;
}

.banner h1 {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.banner:hover {
  background-color: #8e9ea9;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}



.social:hover {
  transform: scale(3);
}
.social {
  transition: 1.5s;
}

.wsp {
  transition: 1s;
}
.wsp:hover {
  transform: scale(1.5);
}
.payment {
  max-height: 30px;
}
.flowBanner {
  height: 60px;
  max-width: 500px;
}
